$("#new_message").html("Thank you for reaching out. We will contact you shortly!")
.css("text-align", "center").html("<p class='experience_info'><img src=" + skillType[this.id].experience + " width='90' height='70'></p>")