<table>
  <tbody>
    <tr>
      <td><p>You have received a new contact form message. The contents of the message are:</p></td>
    </tr>
    <tr>
    	<td><p><%= @name %> has reached out to you. Their email address is: <%= @email %>.</p></td>
      <td><p><%= @message %></p></td>
    </tr>
  </tbody>
</table>