<html>
<head>
</head>

<body>
    <h1>Welcome to Deep Sea Kayaks. </h1>

    <%= image_tag("welcome_email.png", :id => "email_image") %>

    <table>
      <tbody>
        <tr>
          <td><p>You have successfully signed up to Deep Sea Kayaks, your username is: <%= @user.email %>./p>
          <p>Thanks for joining and have a great day!</p></td>
        </tr>
      </tbody>
    </table>

    <p>2015 Deep Sea Kayaks. You're receiving this email because you created an account.</p>

</body>
</html>