  <div class ="container-fluid">
    <p id="notice"><%= notice %></p>
    <h1>Listing Orders</h1>

    <input type="text" placeholder="Your name" ng-model="name">
    {{name}}

    {{ 42 / 6}}

  </div> <!-- /container-fluid -->