/* Payment Confirmation */
h3, h5 {
	text-align: center;
	margin-bottom: 1em;
  font-family:'Oxygen', sans-serif;		
	}

#payment_image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  opacity: .8;
  margin-top: 5em;
  margin-bottom: 2em;
}