body {
  position: relative;
  font-size: 100%; 
  background-color: #998675;
  color: #534741;
  font-family:'Oxygen', sans-serif;
  line-height: 18px;
}

.row {
  margin-right: 0;
  margin-left: 0; }

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

p, ol, ul, td {
  font-family: 'Oxygen', sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}


/* Navigation Bar */
.navbar {
  margin-top: 1.5em;
  margin-bottom: 1px;

  .navbar-nav {
    li > a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .nav > li > a {
    display: inline;
  }

  .left_links {
    float: left;
    margin-top: .5em;
    
    li {
      color: #998675;
      margin-top: .7em;
      
      a:hover {
        color:#C7B299;
      }
    }

    #edit_user_info {
      margin-top: .7em;
    }
  }

  .right_links {
    float: right;
    margin-top: 1.2em;
    }
  
  a {
    color: #C7B299;
    font-size: 100%;
  }

  .navbar-toggle {
    background-color: #736357;
    color: #FFF;

    .icon-bar{
      color: #FFF;
    }
  }
}


/* Links */
a {
  color: #C7B299;

  &:visited {
    color: #C7B299;
  }

  &:hover {
    color: #C7B299;
    background-color: transparent;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}


/* Footer */
.admin_footer p {
  text-align: left;
  font-size: 90%;
}


/* Notice and Error Messages */
#notice {
  color: #736357;
}

.field_with_errors {
  padding: 2px;
  background-color: #C7B299;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid #C7B299;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #C7B299;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #C7B299;
    color: #534741;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}