/* Typography */
h1 {
	text-align: center;
	font-family: 'Oxygen', sans-serif;
	color: #534741;
}


/* Images */
#home_image, #about_image, #contact_image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 2em;
}

#about_image {
  margin-top: 2em;
}


/* Search Form */
.search_form {
	text-align: center;
}

/* Contact Form */
#contact_form h1 {
  margin-bottom: 2em;
}


/* Image Carousel */
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 450px; }

.carousel-caption {
	margin-bottom: 5%;
  font-family: 'Oxygen', sans-serif;
  font-size: 550%;
  font-weight: 700;
  
  h5 {
    margin-bottom: 10%;
  }

  a:hover {
  	text-decoration: none; }
  }

.carousel-control.left, .carousel-control.right {
	background-color: transparent;
	background-image: none;
}

@media only screen and (max-width: 768px) {
.carousel-caption {
  font-size: 200%; }

}


/* FAQ Accordion */
.panel-group {
  margin-top: 6%; 
}   

.panel {
  border: 0px;
  background-color: #FFF;
  margin-left: 15%;
  margin-right: 15%; 
} 

.panel-default > .panel-heading {
  background-color: #FFF;
  margin-bottom: 3%; 
} 

.panel-title {
  font-size: 1.6em;
  color: #000 
}  

.panel-body {
  padding-left: 8%;
  padding-right: 11%;
  background-color: #FFF;
  font-family: 'Oxygen', sans-serif;
  font-size: 1.4em; 
}

.panel-default > .panel-heading a:link {
  text-decoration: none; }
.panel-default > .panel-heading a:visited {
  text-decoration: none; }
.panel-default > .panel-heading a:hover {
  text-decoration: none; }
.panel-default > .panel-heading a:active {
  text-decoration: none; }


/* Photo Credit */
  #photo_credit {
    float: right;
}