<div class="add_comment">
  <% if signed_in? %>
    <h4>Add a review:</h4>
    <%= form_for([@product, @product.comments.build], remote: true) do |f| %>
      <p>
        <%= f.label :body, "Comment:" %><br>
        <%= f.text_area :body %>
      </p>

      <h5>Select Rating</h5>
      	<div class="rating"></div>

      <p>
      	<%= f.submit "Submit" %>
      </p>
    <% end %>
  <% end %>
</div>