<div class ="container-fluid products_index">
    <h1>Products Listing</h1>
    
    <% if signed_in? && current_user.admin? %>
      <h4><%= link_to 'Create New Product', new_product_path %></h4>
    <% end %>

    <div class="row" id="product_list">
      <div class="col-xs-12 col-s-3 col-md-2">
        <h4>Name</h4>
      </div>
      <div class="col-xs-12 col-s-3 col-md-2">
        <h4>Description</h4>
      </div>
      <div class="col-xs-12 col-s-3 col-md-2">
        <h4>Image URL</h4>
      </div>
      <div class="col-xs-12 col-s-3 col-md-2">
        <h4>Colour</h4>
      </div>
      <div class="col-xs-12 col-s-3 col-md-2">
        <h4>Price</h4>
      </div>
      <div class="col-xs-12 col-s-3 col-md-2">
        <h4></h4>
      </div> 
    </div><!-- /row -->


    <%= render @products %>

  <br>
  </div> <!-- /container-fluid -->
