  <div class ="container-fluid">
    <p id="notice"><%= notice %></p>
    <h1>Listing Products</h1>

    <div class="row" id="product_listings">
      <div class="col-xs-12 col-md-2">Name</div>
      <div class="truncate desc col-xs-12 col-md-2">Description</div>
      <div class="truncate_url col-xs-12 col-md-2">Image URL</div>
      <div class="col-xs-12 col-md-2">Colour</div>
      <div class="col-xs-12 col-md-2">Price</div>
    </div><!-- /row -->

    <%= render @products %>

    <br>
    <div class="col-xs-11 col-md-2">
    <%= link_to 'New Product', new_product_path %>
    </div>

  </div> <!-- /container-fluid -->
